*{box-sizing: border-box; margin: 0; padding: 0px;
font-family: "Roboto", sans-serif;
}
.container{

max-width: 1170px;
width: 100%;
margin: 0 auto;


}
.header{

    background-color: #f07f13;
    
}
.header-child{

    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 15px 0px;
}

.srach-bar{
display: flex;
background-color: white;
border-radius: 8px;
 

}
.srach-bar input{
padding: 0px 120px 0px 28px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    font-size: 13px;
    outline: none;
    &:focus{
border: none;
    outline: none;

    }
}
.selectd{
color: #7b7b7b;
font-weight: 600;
padding: 16px 15px;
    border: none;
    outline: none;

    
}
.serch-icon{
display: flex;
width: 68px;
margin-left: 8px;
position: relative;
align-items: center;
z-index: 1;
overflow: hidden;
transition: 0.5s;
border-radius: 0px 8px 8px 0px;
justify-content: center;
    background-color:#2e2d2d;

    a{
        color: white;
        font-size: 14px;
    }



    &::after{

z-index: -1;
        background-color: #83b735;
        width: 100%;
        height: 100%;
        transform: scale(0);
        right: 0px;
       transform-origin: bottom;
        content: "";
        transition: 0.5s;
        position: absolute;
        bottom: 0px;
    }

    &:hover::after{
transform: scale(1);
       
    }
}

.wish{

position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    a{

        font-size: 30px;
        color: white;
    }
}

.wish-1{
display: flex;
align-items: center;
position: absolute;
top: -7px;
left: 17px;
font-size: 12px;
justify-content: center;
    color: #565656;
    width: 21px;
    height: 21px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #f0f0f0;
}
.wish-2{
display: flex;
position: absolute;
top: -7px;
font-size: 12px;
left: 76px;
align-items: center;
justify-content: center;
    color: white;
    width: 21px;
    height: 21px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: black;
}

.navbar{

    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, .15);

}
.navbar-1{

justify-content: space-between;
    display: flex;
    
    align-items: center;
}
.menu ul{
gap: 40px;
    display:flex;
    align-items: center;
    li{

        list-style: none;
        a{
display: flex;
align-items: center;
gap: 10px;
            text-decoration: none;
            color: #333;
            font-size: 14px;
            
        }
    }
}

.left-btn a{

    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #333;
    font-size: 17px;
    align-items: center;
    height: 70px;
    padding: 0px 30px;
    border-right: 1px solid #ccc;
    font-weight: 500;
    border-left: 1px solid #ccc;
}

.left-btn a i{

    font-size: 22px;
    font-weight:bold;
}

.right-btn a{

display: flex;
flex-direction: column;
padding: 0px 30px;
text-decoration: none;
border-right: 1px solid #ccc;
    font-weight: 500;
    height: 70px;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ccc;

}

.recsd{

    color: #f07f13;
    font-weight:bold;
}

.rtn{

    font-size: 12px;
    color: #7b7474;
}

.hero-section{

position: relative;
    width: 100%;
    
}
.hero-section img{


    width: 100%;
    
}
.hero-text{

position:absolute;
top: 178px;
left: 50px;
display: flex;
flex-direction: column;
gap: 30px;


h3{
color: #f07f13;

    font-size: 22px;
}

h2{


    font-size: 50px;
    font-weight: 400;
}

a{

display: flex;
align-items: center;
justify-content: center;
    text-decoration: none;
    background-color: #f07f13;
    padding: 12px 18px;
    width: 180px;

    color: white;
}
}

.show-section{


    
    width: 100%;
    padding-top: 100px;
}
.sec{

gap: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}

.sec-1{


    width: 60%;
}
.sec-1 img{

    width: 100%;
}
.sec-2{


    width: 40%;
}
.sec-2 img{

    width: 100%;
}